.divBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelBox {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
}

.boxSelect {
  border-radius: 14px;
  padding: 15px 16px;
  width: 226px;
  height: 48px;
  background-color: #54be96;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
  /* background: url("/src/img/Property.png") 94% / 8% no-repeat #f7f7f7; */

  content: "";
  display: block;
  transition: 0.2s ease-in;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dadde1;
  }
}

.boxOption {
  border-radius: 14px;
  width: 226px;
  height: 216px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;

  background-color: #fff;
}
