.oneCart {
  width: 1184px;
  border-radius: 24px;
  background-color: #fbfbfb;
  padding: 24px;
}

.contentBox {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.boxImg {
  box-sizing: border-box;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  min-width: 120px;
  height: 120px;
  padding: 12px;
}

.imgPsychologist {
  border-radius: 15px;
  width: 96px;
  height: 96px;
}

.AboutTheDoctor {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.boxName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.speciality {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-bottom: 8px;
}

.name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #191a15;
}

.boxRatingPrice {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.iconRating {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.ratingPrice {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
}

.rating {
  padding-right: 16px;
  border-right: 1px solid rgba(25, 26, 21, 0.2);
}

.price {
  padding-left: 16px;
  padding-right: 28px;
}

.ratingPriceColor {
  color: #38cd3e;
}

.skils {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skillsBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.skillsParagraph {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;

  display: inline-block;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #f3f3f3;
}

.skillsColor {
  color: #191a15;
}

.aboutButton {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.buttonReadMore {
  border: none;
  padding: 0;
  background-color: #fbfbfb;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
  width: 82px;
}
