.header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  padding: 24px 128px;
}

.headerUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #54be96;
}

.logoDot {
  font-weight: 500;
}

.logoSpanGreen {
  font-weight: 600;
  color: #191a15;
}
