.psychologistsBox {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 128px;
}

.boxList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
