.input {
  display: none;
}

.divInputnLogin {
  /* position: relative; */
  width: 25px;
  height: 25px;

  /* top: 40px; */
  /* left: 400px; */
}

.divInputnRegister {
  /* position: absolute; */
  width: 25px;
  height: 25px;

  /* top: 386px; */
  /* right: 70px; */
}

.icon {
  width: 20px;
  height: 20px;
}
