.input {
  display: none;
}

.divInputnLogin {
  width: 25px;
  height: 25px;
}

.divInputnRegister {
  /* position: absolute; */
  width: 25px;
  height: 25px;
}

.icon {
  width: 20px;
  height: 20px;
}
