.input {
  display: none;
}

.divInputnLogin {
  position: absolute;
  width: 25px;
  height: 25px;

  top: 316px;
  right: 70px;
}

.divInputnRegister {
  position: absolute;
  width: 25px;
  height: 25px;

  top: 386px;
  right: 70px;
}

.icon {
  width: 20px;
  height: 20px;
}
