.boxLogin {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 30px;
  width: 565px;
  height: 509px;
  padding: 64px;
  background-color: #fbfbfb;

  /* background-color: aqua; */
}

.titleFomik {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;
}

.paragraphFomik {
  width: 400px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}

.divEmail {
  display: block;
  /* margin-bottom: 18px; */
}

.input {
  box-sizing: border-box;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 438px;
  height: 52px;
}

.divPassword {
  display: block;
  margin-bottom: 40px;
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}

.button {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 16px 196px;
  width: 438px;
  height: 52px;
  background-color: #54be96;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  transition: background-color 400ms linear;

  &:hover {
    background-color: #36a379;
    transition: background-color 400ms linear;
  }
}

.labelPassword {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;

  top: 40px;
  left: 405px;
}
