.sectionHome {
  padding: 78px 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greetings {
  width: 595px;
  height: 438px;
  margin-top: 48px;
}

.titleHome {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 1.025;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;
}

.titleGreen {
  font-style: italic;
  color: #54be96;
}

.paragraphHome {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 40px;
  width: 510px;
}

.buttonHome {
  border-radius: 30px;
  padding: 18px 48px;
  width: 235px;
  height: 60px;
  background-color: #54be96;
  box-sizing: border-box;
  border: none;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  transition: background-color 400ms linear;

  &:hover {
    background-color: #36a379;
    transition: background-color 400ms linear;
  }
}

.icon {
  margin-left: 17px;
  width: 18px;
  height: 18px;
}

.backgroundImgHome {
  border-radius: 10px;
  width: 464px;
  height: 526px;
  background: url(../../img/backgroundImgHome.jpg);
}

.boxQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 35px;
  top: 185px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #4535af;
  transform: rotate(-15deg);
}

.iconQuestion {
  width: 10px;
  height: 17px;
  transform: rotate(15deg);
}

.boxPeople {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 449px;
  top: 38px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: #fbc75e;
  transform: rotate(15deg);
}

.iconQuestion {
  width: 10px;
  height: 17px;
  transform: rotate(15deg);
}

.iconPeople {
  width: 25px;
  height: 25px;
  transform: rotate(-10deg);
}

.boxExperienced {
  box-sizing: border-box;
  width: 311px;
  height: 118px;
  border-radius: 20px;
  background-color: #54be96;
  padding: 32px;

  position: relative;
  right: 104px;
  top: 240px;
}

.experienced {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.iconBox {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconExperienced {
  width: 20px;
  height: 15px;
}

.experiencedParagraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);

  margin-bottom: 8px;
}

.experiencedNumber {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
}
