.btn {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  padding: 14px 48px;
  width: 176px;
  height: 48px;
  background-color: #54be96;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 400ms linear;

  &:hover {
    background-color: #36a379;
    transition: background-color 400ms linear;
  }
}
